.wrapper {
  margin-bottom: 2rem;
}

.seccion {
  margin-bottom: 0.5rem;
  font-weight: bold;
  border: 1px solid black;
  display: inline-block;
  padding: 2px 6px;
  font-size: 14px;
}

.tabla {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.tabla th,
.tabla td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
