

.container {
  color: var(--color-text-light);
  overflow-x: auto;
  background-color: var(--color-primary-dark);

  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(144, 91, 91, 0.08);
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-family: 'Segoe UI', sans-serif;
}

th, td {
  padding: 0.75rem 1rem;
  border: 1px solid var(--color-surface);
}

th {
  background-color: #000000;
  font-weight: 600;
}

.action {
  background: none;
  border: none;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.activo {
  color: var(--color-success);
  font-weight: bold;
}

.suspendido {
  color: var(--color-accent-muted);
  font-weight: bold;
}
