.sidebar {
  width: 200px;
  background-color:var(--color-primary-dark);
  color: white;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.logoImage {
  width: 60px;
  height: auto;
}

.logoText {
  font-weight: bold;
  font-size: 20px;
  color: white;
}


.logo {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 2rem;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.7rem 0;
  cursor: pointer;
  transition: background 0.3s;
}

nav li:hover {
  background-color: #144272;
  border-radius: 5px;
  padding-left: 0.5rem;
}
